@use 'variables' as *;
@use 'mixins' as *;

* {
  background-color: $bg-color;
  font-family: $font-main;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 1.5%;

  a {
    text-decoration: none;
    color: inherit;

    &.left {
      font-size: 32px;
      text-align: left;
    }

    &.right {
      font-size: 24px;
      text-align: right;
    }
  }
}

.vlogs {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 5px; 
  margin: 5px; 
  justify-items: center; 
  align-items: center;
  text-align: center;

  a {
    font-size: 24px; 
    text-decoration: none; 
    color: inherit;

    img {
      margin-bottom: 10px; 
      max-width: 100%; 
      @include hover-zoom();
    }
  }
}

.vlog-viewer {
  text-align: center;

  .vlog-images {
    img {
      max-width: 80%;
      margin: 1rem auto;
    }
  }

  button {
    border: none;
    margin: 1.5rem auto 0;
    color: black;
    cursor: pointer;
    font-size: 1rem;
  }
}

#contact {
  text-align: center;
  margin-bottom: 69px;
}